

.individual__slide__container{



  .back__button{
    position: absolute;
    bottom: 100px;
    left: 5%;
    z-index: 999 !important;
  
    .MuiSvgIcon-root{
      font-size: 2rem !important;
      color: white;
    }
  }

  
  
}


#individualSlide{
    position: absolute;
    top: 0px ;
    width: 100%;
    height: 100%;
    z-index: 1 ;


    // for the gps bg 
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Fira Sans", "Helvetica Neue", sans-serif;
	line-height: 1.75;



  margin:0px;
  text-align:center;
  // padding-top:43vh;
  
  overflow:hidden;
 

    .google-play-button{
      position: absolute;
      bottom: 120px;
      left: 50%;
      transform: translateX(-50%)
    }


  

    .features-container{
      
    }

    .features{
      position: absolute;
      width: 500px !important;
      bottom: 200px;
      left: 30%;
      transform: translateX(-50%);
      z-index: 999 !important;
      color: black !important;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Fira Sans", "Helvetica Neue", sans-serif;
      text-align: left;
    }

    .features-right{
      position: absolute;
      width: 500px !important;
      bottom: 200px;
      right: -7% !important;
      transform: translateX(-50%);
      color: black !important;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Fira Sans", "Helvetica Neue", sans-serif;
      text-align: left;
    }





    

}








// Basic Formatting
////////////////////////////////////////////////

$purp: #6c38de;
$lightpurp: #ac8dff;

// Reset
* {
	padding: 0;
	margin: 0;
 	box-sizing: border-box;
 	transition: all 0.25s cubic-bezier(.37,0,.45,.99);
	
 	&:before,
 	&:after {
    	box-sizing: inherit;
	}
	
}

img {
	max-width: 100%;
	// height: 100%;
}

// Defualt Styling
body {
	
}

@keyframes driving {
    0% {
        transform: translateY(-650px);
    }

    100% {
        transform: translateY(0);
    }
}

// Demo Styles
// Generic Hero


.hero {
	&__title {
    // padding: 4em 2rem 16rem;
    // animation:bg 5s linear infinite;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0001;
    color:#fff;
    font-size:36px;
    font-weight:100 !important;


  
    
    .dropping-texts {
    display: inline-block !important;
    width: 180px;
    height: 48px;
    vertical-align: -2px;
    position: relative;
    left: 0px;
  }
  
  .dropping-texts > div {
    font-size:0px;
    opacity:0;
    margin-left:-30px;
    position:absolute;
    font-weight: 400 !important;
    // box-shadow: 0px 60px 25px -20px rgba(0,0,0,0.5);
  }
  
  .dropping-texts > div:nth-child(1) {
    animation: roll 5s linear infinite 0s;
  }
  .dropping-texts > div:nth-child(2) {
    animation: roll 5s linear infinite 1s;
  }
  .dropping-texts > div:nth-child(3) {
    animation: roll 5s linear infinite 2s;
  }
  .dropping-texts > div:nth-child(4) {
    animation: roll2 5s linear infinite 3s;
  }
  
  @keyframes roll {
    0% {
      font-size:0px;
      opacity:0;
      margin-left:-30px;
      margin-top:0px;
      transform: rotate(-25deg);
    }
    3% {
      opacity:1;
      transform: rotate(0deg);
    }
    5% {
      font-size:inherit;
      opacity:1;
      margin-left:0px;
      margin-top:0px;
    }
    20% {
      font-size:inherit;
      opacity:1;
      margin-left:0px;
      margin-top:0px;
      transform: rotate(0deg);
    }
    27% {
      font-size:0px;
      opacity:0.5;
      margin-left:20px;
      margin-top:100px;
    }
    100% {
      font-size:0px;
      opacity:0;
      margin-left:-30px;
      margin-top:0px;
      transform: rotate(15deg);
    }
  }
  
  @keyframes roll2 {
    0% {
      font-size:0px;
      opacity:0;
      margin-left:-30px;
      margin-top:0px;
      transform: rotate(-25deg);
    }
    3% {
      opacity:1;
      transform: rotate(0deg);
    }
    5% {
      font-size:inherit;
      opacity:1;
      margin-left:0px;
      margin-top:0px;
    }
    30% {
      font-size:inherit;
      opacity:1;
      margin-left:0px;
      margin-top:0px;
      transform: rotate(0deg);
    }
    37% {
      font-size:1500px;
      opacity:0;
      margin-left:-1000px;
      margin-top:-800px;
    }
    100% {
      font-size:0px;
      opacity:0;
      margin-left:-30px;
      margin-top:0px;
      transform: rotate(15deg);
    }
  }
  


	}
}

// GPS Hero
.gps-bg {

  // background-color: $lightpurp;
  animation:bg 5s linear infinite;
  position: relative;
	perspective: 500px;
	overflow: hidden;
	&:after {
		// Angled bottom
		content: '';
		// background-color: #fafafa;
		position: absolute;
		width: 200%;
		height: 5em;
		bottom: 0;
		transform: skewY(-2deg);
	}
	// The nuts and bolts of making this work
	&__guts {
		position: absolute;
		transform: rotateX(45deg);
		width: calc(100% + 1000px); // This makes extra space to overflow the edges with filled map
		height: 100%;
		left: -500px; // Re-centers the container-slide
	}
	&__bg {
		height: 1300px;
		background-image: url(http://www.rastrac.com/hubfs/roads.svg);
		background-position: 50%;
		background-size: 25%;
		position: absolute;
		top: -162px; // Hide the empty top reset by moving the object up
		width: 100%;
		transform: translateY(-650px);
		animation: driving 10000ms linear 0ms infinite;
	}
	&__route {
		width: 2em;
		background-color: #fff;
		position: absolute;
		top: -462px;
		bottom: -162px;
		left: 50%;
		transform: translateX(-50%);
    box-shadow: 0 0 13px 5px rgba(darken($purp, 30%), 0.25);
		&:after {
			content: '';
			width: 60%;
			background-color: $purp;
			position: absolute;
			top: 0;
			bottom: 35%;
			left: 50%;
			transform: translateX(-50%);
		}
	}
	&__fade {
		// The fade at the top helps hide any crimes (it's pretty seamless without it though)
    // background-image: linear-gradient( to bottom,  $lightpurp 10%, rgba($lightpurp, 0) 100%);
    animation:fadeBg 5s linear infinite;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 60%;
		z-index: 1;
	}
	&__marker {
		height: 6em;
		width: 6em;
		background-color: #fff;
		// 3D lip
		border:{
			right: 1px solid #ddd;
			bottom: 3px solid #ddd;
			left: 1px solid #ddd;
			radius: 100%;
		}
		position: absolute;
		top: 60%;
		left: 50%;
		transform: translateX(-50%);
		box-shadow: 0 0.125em 10px 3px rgba(darken($purp, 30%), 0.25);
		&:after {
			// Arrow
			content: '';
			border-left: 1.5em solid transparent;
			border-right: 1.5em solid transparent;
			border-bottom: 3em solid $purp;
			position: absolute;
			top: 20%;
			left: 50%;
			transform: translateX(-50%);
		}
	}
}


  @keyframes bg {
    0% {background: #ff0075;}
    3% {background: #0094ff;}
    20% {background: #0094ff;}
    23% {background: #b200ff;}
    40% {background: #b200ff;}
    43% {background: #8BC34A;}
    60% {background: #8BC34A;}
    63% {background: #F44336;}
    80% {background: #F44336;}
    83% {background: #F44336;}
    100% {background: #F44336;}
  }


  @keyframes fadeBg {
    0% {background-image: linear-gradient( to bottom,  #ff0075 10%, rgba(#ff0075, 0) 100%);}
    3% {background-image: linear-gradient( to bottom,  #0094ff 10%, rgba(#0094ff, 0) 100%);}
    20% {background-image: linear-gradient( to bottom,  #0094ff 10%, rgba(#0094ff, 0) 100%);}
    23% {background-image: linear-gradient( to bottom,  #b200ff 10%, rgba(#b200ff, 0) 100%);}
    40% {background-image: linear-gradient( to bottom,  #b200ff 10%, rgba(#b200ff, 0) 100%);}
    43% {background-image: linear-gradient( to bottom,  #8BC34A 10%, rgba(#8BC34A, 0) 100%);}
    60% {background-image: linear-gradient( to bottom,  #8BC34A 10%, rgba(#8BC34A, 0) 100%);}
    63% {background-image: linear-gradient( to bottom,  #F44336 10%, rgba(#F44336, 0) 100%);}
    80% {background-image: linear-gradient( to bottom,  #F44336 10%, rgba(#F44336, 0) 100%);}
    83% {background-image: linear-gradient( to bottom,  #F44336 10%, rgba(#F44336, 0) 100%);}
    100% {background-image: linear-gradient( to bottom,  #F44336 10%, rgba(#F44336, 0) 100%);}
  }

  // background-image: linear-gradient( to bottom,  #F44336 10%, rgba(#F44336, 0) 100%);







  :root {
    --size: 75px;
    --clr-bg: #272324;
    --clr1: #bbbb88;
    --clr2: #ccc68d;
    --clr3: #eedd99;
    --clr4: #eec290;
    --clr5: #eeaa88;
  }
  

  .loader-bg {
    animation:bg 5s linear infinite;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: grid;
	  place-items: center;
  }
  .container-slide {
    display: grid;
    grid-template-columns: repeat(2, auto);
    place-items: center;
    gap: 12rem;
    position: relative;
    top: -15%;
    transform: translateY(0%);
  }
  
  @media (min-width: 600px) {
    .container-slide {
      grid-template-rows: repeat(2, auto);
      grid-template-columns: repeat(3, auto);
    }
  }
  
  .spinner:nth-child(1) {
    --animation-duration: 1000ms;
  
    width: var(--size);
    height: var(--size);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  
    .spinner-item {
      width: calc(var(--size) / 12);
      height: 80%;
      background: var(--clr-spinner);
      animation: spinner1 var(--animation-duration) ease-in-out infinite;
  
      @keyframes spinner1 {
        50% {
          transform: scaleY(0.25);
        }
      }
    }
  
    .spinner-item:nth-child(1) {
      --clr-spinner: var(--clr1);
      animation-delay: calc(var(--animation-duration) / 10 * -3);
    }
  
    .spinner-item:nth-child(2) {
      --clr-spinner: var(--clr5);
      animation-delay: calc(var(--animation-duration) / 10 * -1);
    }
  
    .spinner-item:nth-child(3) {
      --clr-spinner: var(--clr3);
      animation-delay: calc(var(--animation-duration) / 10 * -2);
    }
  
    .spinner-item:nth-child(4) {
      --clr-spinner: var(--clr4);
      animation-delay: calc(var(--animation-duration) / 10 * -1);
    }
  
    .spinner-item:nth-child(5) {
      --clr-spinner: var(--clr2);
      animation-delay: calc(var(--animation-duration) / 10 * -3);
    }
  }
  
  .spinner:nth-child(2) {
    --animation-duration: 650ms;
    position: relative;
    width: var(--size);
    height: var(--size);
  
    .spinner-item {
      position: absolute;
      width: var(--item-size);
      height: var(--item-size);
      top: calc(50% - var(--item-size) / 2);
      left: calc(50% - var(--item-size) / 2);
      border: 4px solid transparent;
      border-left: 4px solid var(--clr-spinner);
      border-right: 4px solid var(--clr-spinner);
      border-radius: 50%;
      animation: spinner2 var(--animation-duration) linear infinite;
  
      @keyframes spinner2 {
        to {
          transform: rotate(360deg);
        }
      }
    }
  
    .spinner-item:nth-of-type(1) {
      --item-size: var(--size);
      --clr-spinner: var(--clr1);
      border-top: 4px solid var(--clr1);
    }
  
    .spinner-item:nth-of-type(2) {
      --item-size: calc(var(--size) - 15px);
      --clr-spinner: var(--clr5);
      border-bottom: 4px solid var(--clr5);
    }
  
    .spinner-item:nth-of-type(3) {
      --item-size: calc(var(--size) - 30px);
      --clr-spinner: var(--clr3);
      border-top: 4px solid var(--clr3);
    }
  }
  
  .spinner:nth-child(3) {
    --animation-duration: 5000ms;
    position: relative;
    width: var(--size);
    height: var(--size);
    transform: rotate(45deg);
  
    .spinner-item {
      --item-size: calc(var(--size) / 2.5);
      position: absolute;
      width: var(--item-size);
      height: var(--item-size);
      border: 4px solid var(--clr-spinner);
    }
  
    .spinner-item:nth-child(1) {
      --clr-spinner: var(--clr1);
      top: 0;
      left: 0;
      animation: spinner3A var(--animation-duration) linear infinite;
  
      @keyframes spinner3A {
        0%,
        8.33%,
        16.66%,
        100% {
          transform: translate(0%, 0%);
        }
  
        24.99%,
        33.32%,
        41.65% {
          transform: translate(100%, 0%);
        }
  
        49.98%,
        58.31%,
        66.64% {
          transform: translate(100%, 100%);
        }
  
        74.97%,
        83.30%,
        91.63% {
          transform: translate(0%, 100%);
        }
      }
    }
  
    .spinner-item:nth-child(2) {
      --clr-spinner: var(--clr3);
      top: 0;
      left: var(--item-size);
      animation: spinner3B var(--animation-duration) linear infinite;
  
      @keyframes spinner3B {
        0%,
        8.33%,
        91.63%,
        100% {
          transform: translate(0%, 0%);
        }
  
        16.66%,
        24.99%,
        33.32% {
          transform: translate(0%, 100%);
        }
  
        41.65%,
        49.98%,
        58.31% {
          transform: translate(-100%, 100%);
        }
  
        66.64%,
        74.97%,
        83.30% {
          transform: translate(-100%, 0%);
        }
      }
    }
  
    .spinner-item:nth-child(3) {
      --clr-spinner: var(--clr5);
      top: var(--item-size);
      left: var(--item-size);
      animation: spinner3C var(--animation-duration) linear infinite;
  
      @keyframes spinner3C {
        0%,
        83.30%,
        91.63%,
        100% {
          transform: translate(0, 0);
        }
  
        8.33%,
        16.66%,
        24.99% {
          transform: translate(-100%, 0);
        }
  
        33.32%,
        41.65%,
        49.98% {
          transform: translate(-100%, -100%);
        }
  
        58.31%,
        66.64%,
        74.97% {
          transform: translate(0, -100%);
        }
      }
    }
  }
  
  .spinner:nth-child(4) {
    --animation-duration: 1150ms;
  
    .spinner-item {
      --item-size: calc(var(--size) / 4);
      width: var(--item-size);
      height: var(--item-size);
      display: inline-block;
      margin: 0 3px;
      border-radius: 50%;
      border: 4px solid var(--clr-spinner);
      animation: spinner4 var(--animation-duration) ease-in-out infinite;
  
      @keyframes spinner4 {
        0%,
        100% {
          transform: translateY(75%);
        }
  
        50% {
          transform: translateY(-75%);
        }
      }
    }
  
    .spinner-item:nth-child(1) {
      --clr-spinner: var(--clr5);
      animation-delay: calc(var(--animation-duration) / 6 * -1);
    }
  
    .spinner-item:nth-child(2) {
      --clr-spinner: var(--clr3);
      animation-delay: calc(var(--animation-duration) / 6 * -2);
    }
  
    .spinner-item:nth-child(3) {
      --clr-spinner: var(--clr1);
      animation-delay: calc(var(--animation-duration) / 6 * -3);
    }
  }
  
  .spinner:nth-child(5) {
    --animation-duration: 1000ms;
    width: var(--size);
    height: var(--size);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
  
    .spinner-item {
      height: 40%;
      background-color: var(--clr-spinner);
      width: calc(var(--size) / 13);
      animation: spinner5 var(--animation-duration) ease-in-out infinite;
  
      @keyframes spinner5 {
        25% {
          transform: scaleY(2);
        }
  
        50% {
          transform: scaleY(1);
        }
      }
    }
  
    .spinner-item:nth-child(1) {
      --clr-spinner: var(--clr1);
    }
  
    .spinner-item:nth-child(2) {
      --clr-spinner: var(--clr3);
      animation-delay: calc(var(--animation-duration) / 10);
    }
  
    .spinner-item:nth-child(3) {
      --clr-spinner: var(--clr5);
      animation-delay: calc(var(--animation-duration) / 10 * 2);
    }
  
    .spinner-item:nth-child(4) {
      --clr-spinner: var(--clr4);
      animation-delay: calc(var(--animation-duration) / 10 * 3);
    }
  
    .spinner-item:nth-child(5) {
      --clr-spinner: var(--clr2);
      animation-delay: calc(var(--animation-duration) / 10 * 4);
    }
  }
  
  .spinner:nth-child(6) {
    --animation-duration: 3000ms;
    position: relative;
    width: var(--size);
    height: var(--size);
  
    .spinner-item {
      position: absolute;
      top: calc(50% - var(--size) / 2);
      left: calc(50% - var(--size) / 2);
      width: var(--size);
      height: var(--size);
      background: var(--clr-spinner);
      border-radius: 50%;
      animation: spinner6 var(--animation-duration) ease-in-out infinite;
  
      @keyframes spinner6 {
        0%,
        100% {
          transform: scale(0.25);
          opacity: 1;
        }
  
        50% {
          transform: scale(1);
          opacity: 0;
        }
      }
    }
  
    .spinner-item:nth-of-type(1) {
      --clr-spinner: var(--clr1);
    }
  
    .spinner-item:nth-of-type(2) {
      --clr-spinner: var(--clr5);
      animation-delay: calc(var(--animation-duration) / -2);
    }
  }
  