.selected{
    
    &::after{
        content: '.';
        width: 5px !important;
        height: 5px !important;
        position: relative;
        top: -10px;
        // border-left: 1px solid white;
        // border-right: 18px solid white;
        // background-color: white;
        border-radius: 50%;
        font-size: 50px;
        line-height: 0;
        color: #888888;
    }
}