.list{

    &::after{
        display: block;
        content: '';
        width: 1.4rem !important;
        height: 1.4rem !important;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        top: 5px;
        border: 2px solid white ;
        border-radius: 50%;
    }
}


.selected{
    
    &::after{
        display: block;
        content: '';
        width: .9rem !important;
        height: .9rem !important;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        top: -13.5px;
        border: 2px solid transparent;
        border-radius: 50%;
        background: white;

    }
}