

.swiper-container{
    margin: 0  !important;
    width: 100%;
    padding-top: 20px !important;
}

.swiper-slide:hover .dynamicCursor{
    width: 40px !important;
    height: 40px !important;
}

.swiper-wrapper{
    // transition: all .5s ease 0s !important;
    animation: 0s ease 0s 1 normal none running none;
}

.swiper-slide{
    width: 700px !important;
    margin-right: 60px ;
    transition: all .7s ease 0s !important;
    animation: 0s ease 0s 1 normal none running none; 
    
}

#slide{
    width: 700px;
    height: 520px;
    transform-style: preserve-3d;
    transition: all .5s ease 0s !important;
    animation: 0s ease 0s 1 normal none running none; 
    position: relative;
    top: 70px;
    

    .title{
        font-weight: 800;
        font-size: 22px;
        margin-bottom: 10px;
        color: #060608;
    }

    .img{
        width: 100%;
        position: relative !important;
        height: 380px !important;
        transition: transform .3s ease 0s;
        img{
            width: 100% !important;
            height: 100% ;
            position: absolute;
            left: 0;
            z-index: -1;
            top: 0;
            transform-style: preserve-3d;
        }

        .overlay{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #0b121bb3;
            transition: all 1s ease 0s;
            transform-style: preserve-3d;
            .category{
                color: #ffdc25;
                font-weight: 700;
                font-size: 12px;
                text-transform: uppercase;
                padding: 94px 0 0 94px;
                transform-style: preserve-3d;
            }
    
            .title{
                color: white;
                font-weight: 800;
                font-size: 28px;
                width: 350px;
                margin: 22px 0 16px 0;
                padding: 0 0 0 94px;
                transform-style: preserve-3d;
            }

            .slider-button{
                color: #07101d;
                width: 170px;
                font-size: 14px;
                cursor: pointer;
                margin-top: 14px;
                background: #ffdc25;
                padding: 12px 0px 12px 20px;
                display: flex;
                margin: 30px 0 0 94px;
                transform-style: preserve-3d;

                span{
                    margin-right: 10px;
                }

                .MuiSvgIcon-root{
                    width: 18px;
                    height: auto;
                }
            }
        }
    }

    &:first-child .overlay{
        // opacity: 1 !important;
    }

    
}


.expand {
    clip-path: polygon(0 100%, 100% 100%, 100% 0%, 0 0%);
    pointer-events: all;;
    transition: opacity .1s, -webkit-clip-path .8s 0.23s cubic-bezier(0.79, -0.01, 0, 0.99);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100% !important;
    z-index: -1;
                    
    
    margin:0 !important;
    // animation-name: gotop;
    
    #sliders{
        width: 100%;
        height: 100%;

        .inner-slider{
            width: 100%;
            height: 100% !important ;

        }
        
    }



    .swiper-container {
        width: 100% !important;
        padding-top: 0px !important;
        height: inherit;
    }

    .swiper-wrapper{
        
    }

    .swiper-slide{
        margin: 0;
        width: 100%;
        height: 100%;
        padding-top: 200px !important;

        transition-property: left;
        transition-duration: 4s;
        transition-delay: 2s;
        
        &:nth-of-type(2) {
            left: 100px;
            transition-delay: 2s;
            transition-property: left;
        }

        &:nth-of-type(3) {
            left: 160px;
            transition-delay: 2s !important;
            transition-property: left !important;
        }
        &:nth-of-type(4) {
            left: 180px;
            transition-delay: 2s !important;
            transition-property: left !important;
        }
          

    }
    
    .swiper-slide-active{
        width: 100% !important ;
        margin: 0 !important;
        
    

        #slide{
            z-index: 999;
                .img{
                    padding-top: 40px;
                    img {
                        
                        transform: scale(2.9);
                        transition: all .8s .23s cubic-bezier(0.79, -0.01, 0, 0.99);
                        
                
            }
            .overlay {
                transition:  opacity .1s, transform .8s .23s cubic-bezier(0.79, -0.01, 0, 0.99);
                transform: scale(2.9);
                z-index: 999 !important ;
    
              
        
                .category {
                    position: absolute;
                    left: 5%;
                    transition: all .8s .16s cubic-bezier(0.79, -0.01, 0, 0.99);
                    opacity: 0;
                }
        
                .title {
                    transition: all .8s .19s cubic-bezier(0.79, -0.01, 0, 0.99);
                    opacity: 0;

                }
                .slider-button{
                    opacity: 0;

                }
        
            }
        }
        
    }
        
        
    }
    .swiper-slide-next{
        opacity: 0 !important;
    }
    .swiper-slide-prev{
        opacity: 0 !important;
    }

    
}


.container{
    .menu-bottom{
        display: flex !important;
        justify-content: space-evenly;
        max-width: 1200px;
        list-style: none;
        margin: 200px auto 0 auto;
    }
}





@keyframes leftAlign {
    from {left: inherit;}
    to {left: 170px;}
  }


  @keyframes gotop {
    0% {transform: scale(1);}
    100% {transform: scale(2.9);}
  }
