
.swiper-container{
    margin: 0  !important;
    width: 100%;
    top: 140px;
}

.swiper-wrapper{
    transition: all .9s ease 0s !important;
}

.swiper-slide{
    width: 700px !important;
    

    
}

#slide{
    width: 700px;
    height: 450px;

    .title{
        font-weight: 800;
        font-size: 22px;
        margin-bottom: 10px;
        color: #060608;
        transform-style: preserve-3d;
    }

    .img{
        width: 100%;
        position: relative !important;
        height: 100% !important;
        img{
            width: 100% !important;
        }

        .overlay{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #0b121bb3;
            transition: all 0.2s ease 0s;
    
            .category{
                color: #ffdc25;
                font-weight: 700;
                font-size: 12px;
                text-transform: uppercase;
                padding: 94px 0 0 94px;
            }
    
            .title{
                color: white;
                font-weight: 800;
                font-size: 28px;
                width: 350px;
                margin: 22px 0 16px 0;
                padding: 0 0 0 94px;
            }

            .button{
                color: #07101d;
                width: 170px;
                font-size: 14px;
                cursor: pointer;
                margin-top: 14px;
                background: #ffdc25;
                padding: 12px 0px 12px 20px;
                display: flex;
                margin: 30px 0 0 94px;

                span{
                    margin-right: 10px;
                }

                .MuiSvgIcon-root{
                    width: 18px;
                    height: auto;
                }
            }
        }
    }

    &:first-child{
    }

    
}